/* SECTION: root var declaration */
.theme-dark {
    /* DISCORD VARS */
    --background-primary: #1f2430;
    --background-secondary: #191e2a;
    --background-secondary-alt: #101521;
    --background-tertiary: #141925; --background-accent: #33415e;
    --background-floating: #232834;

    --channeltextarea-background: var(--background-accent);
    --channels-default: #cbccc6;

    --text-muted: #707a8c;
    --text-normal: #cbccc6;

    --interactive-normal: #cbccc6;
    --interactive-hover: #cbccc6;
    --interactive-active: #fff;
    --interactive-muted: #707a8c;

    --header-primary: white;
    --header-secondary: #c9c9c9;

    /* Ayu theme-specific vars */
    --ayu-positive: #a6cc70;
    --ayu-negative: #f27983;
    --ayu-default: #77a8d9;

    --ayu-hover-animation-speed: 0.35s;

    --ayu-hljs-string: #bbe67e;
    --ayu-hljs-kw: #ffae57;
    --ayu-hljs-title: #ffd57f;
    --ayu-hljs-special: #d4bfff;
    --ayu-hljs-attr: #5ccfe6;
    --ayu-hljs-variable: #73d0ff;

    --ayu-menu-red: var(--ayu-negative);
    --ayu-menu-default: var(--ayu-default);

    --ayu-button-default: var(--ayu-default);
    --ayu-button-positive: var(--ayu-positive);
    --ayu-button-negative: var(--ayu-negative);

    --ayu-presence-playing: var(--ayu-default);
    --ayu-presence-spotify: var(--ayu-positive);
    --ayu-presence-streaming: #a37acc;

    --ayu-border-radius: 7.5px;

    --ayu-bot-tag-bg-colour: #5ccfe6;
    --ayu-bot-tag-fg-colour: #101521;
    --ayu-bot-tag-radius: 2.5px;

    --ayu-status-ring-radius: 10.5px;

    --ayu-folder-icon: url(https://cdn.nickofolas.com/tEiGX.png);
    /* Set this one to whatever, as long as it uses /assets/file-icon.png */
}

/* SECTION: hljs syntax highlighting */

.theme-dark .hljs-doctag,
.theme-dark .hljs-literal,
.theme-dark .hljs-number,
.theme-dark .hljs-meta-string,
.theme-dark .hljs-regexp,
.theme-dark .hljs-string {
    color: var(--ayu-hljs-string)!important;
}

.theme-dark .hljs-meta,
.theme-dark .hljs-subst,
.theme-dark .hljs-keyword {
    color: var(--ayu-hljs-kw)!important;
}

.theme-dark .hljs-selector-class,
.theme-dark .hljs-symbol,
.theme-dark .hljs-title {
    color: var(--ayu-hljs-title)!important;
}

.theme-dark .hljs-built_in {
    color: var(--ayu-hljs-special)!important;
}

.theme-dark .hljs-attribute {
    color: var(--ayu-hljs-attr)!important;
}

.theme-dark .hljs-variable {
    color: var(--ayu-hljs-variable)!important;
}

/* END SECTION: hljs customisation */

/* SECTION: Menu highlighting */

.theme-dark [class*=colorDanger]:not(:hover):not(:active) {
    color: var(--ayu-menu-red)!important;
    background-color: transparent!important;
}

.theme-dark [class*=colorDanger]:hover,
.theme-dark [class*=colorDanger]:hover [class*=colorDefault],
.theme-dark [class*=colorDanger]:active [class*=colorDefault],
.theme-dark [class*=colorDanger]:active {
    background-color: var(--ayu-menu-red)!important;
    border-color: var(--ayu-menu-red)!important;
}

.theme-dark [class*=colorDefault]:hover,
.theme-dark [class*=colorDefault]:active,
.theme-dark [class*=colorDefault][class*=focused] {
    background-color: var(--ayu-menu-default);
}

/* END SECTION: Menu highlighting */

/* SECTION: Misc. tweaks */

/* blur email when not hovered */
.theme-dark [class*=userSettingsAccount] div:nth-child(2)>div:nth-child(2)>[class*=viewBody]:not(:hover) {
    filter: blur(5px);
}

/* De-clutter chat viewport by hiding panels when not hovered */

.theme-dark .chat-3bRxxu { padding-left: 10px; }
.theme-dark .scroller-2TZvBN { background-color: var(--background-secondary-alt)!important; }

.theme-dark .sidebar-2K8pFh {
    transition-duration: var(--ayu-hover-animation-speed);
    position:absolute;
    z-index: 100!important;
    height: 100%;
}

.theme-dark .sidebar-2K8pFh:not(:hover) {
    margin-left: -220px;
    height: 50%;
    border-radius: var(--ayu-border-radius);
    transform: translateY(50%);
}

.theme-dark .sidebar-2K8pFh:not(:hover) *  > [class*=header] {
    display: none!important;
}

.theme-dark .sidebar-2K8pFh:not(:hover) *:not(.unread-3zKkbm) {
    border: none!important;
    color: var(--background-secondary-alt)!important;
    background-color: var(--background-secondary-alt);
}

.theme-dark .container-2Rl01u {
    background-color: var(--background-primary)!important;
}

.theme-dark [id~=channels] [class*=unread] {
    position: absolute;
    height: 32px;
    z-index: 5!important;
    width: 4px;
    border-radius: 25px;
    top: 4px;
    right: 0%!important;
    left: 98%;
    margin-top: -4px;
}

.theme-dark [class*=membersWrap] {
    transition-duration: var(--ayu-hover-animation-speed);
    right: 0;
    margin-right: -180px;
}

.theme-dark [class*=membersWrap]:hover { transform: translateX(-180px); }

.theme-dark [class*=membersWrap]:not(:hover) [class*=membersGroup] span {
    background-color: var(--channels-default)!important;
    width: 32px!important;
    color: transparent!important;
    border-radius: 25%;
    height: 2px;
    margin-top: 7px;
    display: inline-block;
}

/* Bot tag customisation */
.theme-dark [class*=botTag] {
    background-color: var(--ayu-bot-tag-bg-colour);
    color: var(--ayu-bot-tag-fg-colour);
    border-radius: var(--ayu-bot-tag-radius);
}

/* END SECTION: Misc. tweaks */

/* SECTION: Buttons */

.theme-dark button {
    border-radius: var(--ayu-border-radius)!important;
}

.theme-dark button[class*=lookFilled][class*=colorBrand] {
    background-color: var(--ayu-button-default)!important;
}

.theme-dark button[class*=lookFilled][class*=colorGreen] {
    background-color: var(--ayu-button-positive)!important;
}

.theme-dark button[class*=lookFilled][class*=colorRed] {
    background-color: var(--ayu-button-negative)!important;
}

/* END SECTION: Buttons */

/* SECTION: Small user popout */

.theme-dark [class*=headerSpotify] { background-color: var(--ayu-presence-spotify)!important; }
.theme-dark [class*=headerPlaying] { background-color: var(--ayu-presence-playing)!important; }
.theme-dark [class*=headerStreaming] { background-color: var(--ayu-presence-streaming)!important; }
.theme-dark [class*=headerNormal] { background-color: var(--background-secondary); }

.theme-dark [class*=headerSpotify] [class*=body],
.theme-dark [class*=headerStreaming] [class*=body],
.theme-dark [class*=headerNormal] [class*=body],
.theme-dark [class*=headerXbox] [class*=body],
.theme-dark [class*=headerPlaying] [class*=body] {
    background-color: transparent!important;
}

.theme-dark [class*=userPopout] [class*=body],
.theme-dark [class*=userPopout] [class*=footer] {
    background-color: var(--background-floating);
}

.theme-dark [class*=userPopout] [class^="role-"] {
    height: auto;
    border: none!important;
    position: relative;
    overflow: hidden;
    padding: 3px;
}

.theme-dark [class*=userPopout] [class*=roleName] {
    color: var(--text-normal);
    font-weight: 550;
    z-index: 5;
}

.theme-dark [class*=roleCircle] {
    width: 16px;
    height: 16px;
}

.theme-dark [class*=roleCircle]:hover { cursor: pointer; }

.theme-dark [class*=roleCircle]::after {
    content: "";
    height: 24px;
    width: 100%;
    left: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0.5;
}

/* END SECTION: User popouts */

/* SECTION: Various info bars */

.theme-dark [class*=messagesErrorBar] {
    background-color: var(--ayu-negative)!important;
}

.theme-dark [class*=newMessagesBar] {
    background-color: var(--ayu-default)!important;
    opacity: 0.75;
}

/* END SECTION: bars */

/* SECTION: All avatar stuff */

/* Settings */
.theme-dark [class*=avatarUploaderInner] {
    border-radius: var(--ayu-border-radius)!important;
}

/* Member list avatars and typing dots */
.theme-dark [role="img"][aria-label] foreignObject { mask: none; }
.theme-dark [role="img"][aria-label] foreignObject img { border-radius: var(--ayu-border-radius); }
.theme-dark [role="img"][aria-label] svg rect { display: none; }

.theme-dark [class*=cursorDefault],
.theme-dark [class*=dots] { overflow:visible; }

.theme-dark [class*=dots] [cx="2.5"] { cy: -8; cx: -8.5; color: var(--background-tertiary); }
.theme-dark [class*=dots] [cx="8.75"] { cy: -8; cx: -2.25; color: var(--background-tertiary); }
.theme-dark [class*=dots] [cx="15"] { cy: -8; cx: 4; color: var(--background-tertiary); }

.theme-dark [role="img"][aria-label]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--ayu-status-ring-radius);
    z-index: 20;
}

/* Statuses as shadows */
.theme-dark [role="img"][aria-label*="Online"]::before { box-shadow: 0 0 0 2px var(--ayu-positive); }
.theme-dark [role="img"][aria-label*="Do Not Disturb"]::before { box-shadow: 0 0 0 2px var(--ayu-negative); }
.theme-dark [role="img"][aria-label*="Idle"]::before { box-shadow: 0 0 0 2px var(--ayu-hljs-title); }
.theme-dark [role="img"][aria-label*="Streaming"]::before { box-shadow: 0 0 0 2px var(--ayu-presence-streaming); }
.theme-dark [role="img"][aria-label*="Offline"]::before { box-shadow: 0 0 0 2px var(--background-primary); }

/* Avatar borders in chat */
.theme-dark [id*=chat-messages] > div[class*=contents] > img {
    border-radius: var(--ayu-border-radius)!important;
}

/* userPopout hover mask */
.theme-dark [class*=avatarHint] foreignObject {
    -webkit-mask: none!important;
    mask: none!important;
    border-radius: var(--ayu-border-radius)!important;
}

/* END SECTION: Avatars */

/* SECTION: Server list */

.theme-dark [class*=wrapper] [class*=svg] foreignObject,
.theme-dark [data-ref-id*="guildsnav"] [class*=wrapper] foreignObject,
.theme-dark [data-ref-id*="guildsnav"] [class*=blobContainer] foreignObject {
    mask: none!important;
    border-radius: var(--ayu-border-radius)!important;
}

.theme-dark [data-ref-id*="guildsnav"] [class*=wrapper] [class*=folder] {
    border-radius: var(--ayu-border-radius)!important;
    background: var(--ayu-folder-icon);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    transition: none!important;
}

.theme-dark [data-ref-id*="guildsnav"] [class*=wrapper] [class*=folder]::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    content: ' ';
}

.theme-dark [data-ref-id*="guildsnav"] [class*=wrapper] [class*=folder] {
    border-radius: var(--ayu-border-radius)!important;
}

.theme-dark [class*=closedFolderIconWrapper] { display: none; }
.theme-dark [class*=expandedFolderIconWrapper] { display: none!important; }

/* END SECTION: Server list */

/* SECTION: Large user popouts */

.theme-dark [class*=topSectionPlaying] { background-color: var(--ayu-default); }
.theme-dark [class*=topSectionStreaming] { background-color: var(--ayu-presence-streaming); }
.theme-dark [class*=topSectionSpotify] { background-color: var(--ayu-positive); }

/* END SECTION: Large user popouts */

/* SECTION: Friends list */

.theme-dark [class*=userInfo] {
    overflow: unset;
    margin-left: 5px;
}

.theme-dark .container-1D34oG {
    background-color: var(--background-primary)!important;
}
