/*
Theme base, generally just does colour stuff.
*/

html.theme-light::before {
    content: "This theme is made to be used with Discord's dark theme. Please switch to that for the best experience.";
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: var(--ayu-negative);
    text-align: center;
    position: absolute;
    z-index: 10001;
    right: 0;
    left: 0;
}

/* SECTION: hljs syntax highlighting */
[class^="codeBlockLang"],
.hljs-doctag,
.hljs-literal,
.hljs-number,
.hljs-meta-string,
.hljs-regexp,
.hljs-string,
.hljs-addition {
    color: var(--ayu-hljs-string) !important;
}

.hljs-meta,
.hljs-subst,
.hljs-attr,
.hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: var(--ayu-hljs-kw) !important;
}

.hljs-selector-class,
.hljs-symbol,
.hljs-title,
.hljs-type {
    color: var(--ayu-hljs-title) !important;
}

.hljs-built_in {
    color: var(--ayu-hljs-special) !important;
}
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-selector-tag {
    color: var(--ayu-hljs-attr) !important;
}
.hljs-variable {
    color: var(--ayu-hljs-variable) !important;
}

.hljs-deletion {
    color: var(--ayu-negative) !important;
}

/* END SECTION: hljs customisation */

/* SECTION: Menu */

[class*="colorDanger"]:not(:hover):not(:active) {
    color: var(--ayu-menu-red) !important;
    background-color: transparent !important;
}

[class*="colorDanger"]:hover,
[class*="colorDanger"]:hover [class*="colorDefault"],
[class*="colorDanger"]:active [class*="colorDefault"],
[class*="colorDanger"]:active {
    background-color: var(--ayu-menu-red) !important;
    border-color: var(--ayu-menu-red) !important;
}

[class*="colorDefault"]:hover,
[class*="colorDefault"]:active:not([class*=hideInteraction]),
[class*="colorDefault"][class*="focused"] {
    background-color: var(--ayu-menu-default);
}

[id*="message-quickreact"] [class*="button"] {
    border-radius: var(--ayu-border-radius) !important;
}

/* END SECTION: Menu */

/* SECTION: Misc. tweaks */

/* Scrollable codeblocks */
[class*=markup] code:not(.inline) {
    white-space: pre!important;
    overflow-x: scroll;
}

[class*=markup] code::-webkit-scrollbar {
    height: 7.5px;
}

[class*=markup] code::-webkit-scrollbar-thumb {
    background-color: var(--background-accent)!important;
}

/* Porple notifs www */
div[class*=numberBadge],
div[class*=unreadBar] {
    background-color: var(--ayu-notification-colour)!important;
}

/* Mic Test thing */
[class*="micTest"] [class*="container"] {
    border-radius: var(--ayu-border-radius) !important;
}

[class*="micTest"] [class*="container"] [class*="notches"] {
    display: none;
}

[class*="micTest"] [class*="container"] [class*="progress"] {
    background-color: var(--background-secondary) !important;
}

/* Bot tag customisation */
[class*="botTag"] {
    background-color: var(--ayu-bot-tag-bg-colour);
    color: var(--ayu-bot-tag-fg-colour);
    border-radius: var(--ayu-bot-tag-radius);
}

/* Settings hovering */
[class*="card"][class*="member"]::before,
[class*="card"][class*="game"]::before,
[class*="card"][class*="bannedUser"]::before,
[class*="card"][class*="InviteRow"]::before,
[class*="card"][class*="emojiRow"]::before {
    background-color: var(--background-secondary) !important;
    border: none !important;
}


input[class*="emojiInput"] {
    background-color: var(--background-secondary-alt) !important;
}

/* Roles adding menu */
[role="dialog"][aria-label="Add Role"] [class*="header"] {
    background-color: var(--background-secondary) !important;
}
[role="dialog"][aria-label="Add Role"] [class*="sectionTag"] {
    background-color: var(--background-floating) !important;
}

/* Audit log filters */
[class*="FilterPopout"] {
    background-color: var(--background-floating) !important;
}
[class*="FilterPopout"] > [class*="scroller"] > [class*="selected"] {
    background-color: var(--ayu-default) !important;
}

/* Search thingy */
[id*="search-results"] [class*="queryContainer"][class*="focused"],
[id*="search-results"][class*="container"] {
    background-color: var(--background-floating) !important;
}
[id*="search-results"][class*="option"]::after {
    background: none !important;
}

/* Stream controls and stuff */
[class*="bottomControls"] [class*="colorable"][class*="primaryDark"] {
    background-color: var(--background-accent);
}

/* Go Live window */
[role="dialog"] [class*="modalSize"][class*="root"],
[class*="segmentContainer"] [class*="segmentControl"] {
    background-color: var(--background-floating);
}

/* Quick switcher */
[class*="quickswitcher"] > [class*="input"] {
    background-color: var(--background-secondary-alt) !important;
}

[class*="formNotice"],
[class*="notDetected"],
[class*="userSettingsVoice"] [class*="previewOverlay"],
[class*="codeRedemptionRedirect"] {
    background-color: var(--background-floating) !important;
}

/* Little keyboard button things */
[class*="keybindShortcut"] span {
    background-color: var(--background-accent) !important;
}

/* Confirmation region */
[class*=noticeRegion] [class*=elevationHigh] {
    background-color: var(--background-floating) !important;
}

/* Game invites */
[class*=preview][class*=invite],
[class*=message] [class*=invite] {
    background-color: var(--background-secondary);
    border-color: var(--background-secondary-alt) !important;
}

/* Replies */
[class*=message] [class*=cozy] [class*=repliedMessage] {
    background-color: var(--background-secondary);
    border-radius: var(--ayu-border-radius);
    width: fit-content;
    max-width: 100%;
    padding: 4px;
    margin: 0;
}

[class*=message] [class*=cozy] [class*=repliedMessage]::before {
    display: none;
}

img[class*=replyAvatar] {
    background-color: var(--background-secondary-alt);
    content: var(--ayu-reply-icon);
    padding: 1.5px;
}

/* Top Bar Stuff */
div[class*=chat] > [class*=content]::before,
nav[class*=container] > div[class*=container][class*=clickable] > header[class*=header] {
    box-shadow: none;
}

div[class*=chat] > section[class*=container][class*=themed] {
    background-color: var(--background-secondary);
}

div[class*=toolbar] > a[class*=anchor] {
    display: none;
}

div[class*=toolbar] > div[class*=search] {
    order: 1;
}

/* Mentions */
[class*=message][class*=mentioned]::before {
    background-color: var(--ayu-notification-colour);
}

/* Slash Command Headers */
div[class*=categoryHeader] {
    background-color: var(--background-secondary);
}

/* Calendar picker for search */
div[class*=react-datepicker] {
    background-color: var(--background-floating) !important;
}

/* Nitro Gifts Tile */
div[class*=giftCodeContainer] > div[class*=tile],
div[class*=giftCodeContainer] > div[class*=tile]:hover {
    background-color: var(--background-tertiary);
}

/* Oh my god I hate the call button in the context menu nobody likes it */
[id*=user-context-call] {
    display: none;
}

/* Voice Call stream watchers user hover */
[class*=memberListItem]:not([class*=popoutDisabled]):hover {
    background-color: var(--background-secondary) !important;
}

/* VC video loading background */
[class*=videoWrapper] {
    background-color: var(--background-accent);
}

/* END SECTION: Misc. tweaks */

/* SECTION: Buttons */

[class*="slider"] > div[class*="bar"] {
    background-color: var(--background-floating) !important;
}

[aria-label="Home"][class*="wrapper"][class*="selected"] [class*="childWrapper"],
[class*="radioGroup"] [class*="cardPrimaryEditable"][style*="rgb(114, 137, 218)"],
[class*="valueChecked"],
button[class*="lookFilled"][class*="colorBrand"] { 
    background-color: var(--ayu-button-default) !important; 
}

div[class*="barFill"] {
    background-color: var(--ayu-notification-colour) !important;
}

[class*="valueUnchecked"] {
     background-color: var(--background-accent) !important; 
}

button[class*="lookFilled"][class*="colorGreen"],
button[class*="lookInverted"][class*="colorGreen"]  {
    background-color: var(--ayu-button-positive) !important;
    color: white; 
}

button[class*="lookFilled"][class*="colorRed"] { 
    background-color: var(--ayu-button-negative) !important;
}

button[class*="lookFilled"][class*="colorGrey"],
button[class*="lookFilled"][class*="colorPrimary"] { 
    background-color: var(--background-accent) !important; 
}

[class*="notificationSettings"] label:not([class*="disabled"]):hover,
[class*="notificationSettings"] label[class*="selected"] { 
    background-color: var(--ayu-default) !important; 
}

[class*=streamPreview] > button[class*=cta] {
    background-color: var(--background-accent);
}

/* END SECTION: Buttons */

/* SECTION: Small user popout */
[class*="headerSpotify"], 
[class*="headerPlaying"], 
[class*="headerStreaming"],
[class*="headerXbox"], 
[class*="headerNormal"] { 
    background-color: var(--background-secondary) !important; 
}

[class^=header] [class*=activityUserPopout][class*=activity] {
    padding: 12px;
    margin: 8px;
    border-radius: var(--ayu-border-radius);
}

[class*=headerXbox] [class*=activity],
[class*=headerSpotify] [class*=activity] {
    background-color: var(--ayu-presence-spotify);
}

[class*=headerPlaying] [class*=activity] {
    background-color: var(--ayu-presence-playing);
}

[class*=headerStreaming] [class*=activity] {
    background-color: var(--ayu-presence-streaming);
}

[class^="header"] [class*="body"] { 
    background-color: transparent !important; 
}

[class*="userPopout"] > [class*="body"],
[class*="userPopout"] [class*="footer"] { 
    background-color: var(--background-floating) !important; 
}

[role=option][class*=role],
[class*=role][class*=addButton],
[class*=role][class*=overflowButton] {
    border-radius: 2.5px;
}

[role=option][class*=role]:not(button) {
    border-radius: 2.5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0;
}

[class*=roleCircle] {
    border-radius: 0;
    padding: 0 0 100% 0;
    width: 6px;
}

[class*=roleCircle]::before {
    background: inherit;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}

[role=option][class*=role]:not(button):hover {
    border-color: var(--ayu-negative)!important;
}

[role=option][class*=role]:not(button):hover [class*=roleCircle] {
    background-color: var(--ayu-negative)!important;
}

[role=option][class*=role]:not(button):hover [class*=roleRemoveIcon] {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}

/* END SECTION: User popouts */

/* SECTION: Various info bars */

[class*="messagesErrorBar"] { background-color: var(--ayu-negative) !important; }
[class*="newMessagesBar"] {
    background-color: var(--ayu-default) !important;
    opacity: 0.75;
    z-index: 20;
}

/* END SECTION: bars */

/* SECTION: Server List */

[class*="circleIconButton"] { color: var(--ayu-positive); }
[class*="circleIconButton"][class*="selected"],
[class*="circleIconButton"]:hover {
    background-color: var(--ayu-positive) !important;
    color: white !important;
}
[class*="guildSeparator"] { 
    background-color: var(--background-accent) !important; 
}
[aria-label="Home"] [class*="childWrapper"] { 
    background-color: var(--background-accent) !important; 
}

[class*="tooltipBlack"],
[class*="tooltipGrey"] { 
    background-color: var(--background-tertiary) !important; 
}
[class*="tooltip"] [class*="tooltipPointer"] { 
    border-top-color: var(--background-tertiary) !important; 
}

/* END SECTION: Server list */

/* SECTION: Large user popouts */

[class*="topSectionPlaying"] { background-color: var(--ayu-default); }
[class*="topSectionStreaming"] { background-color: var(--ayu-presence-streaming); }
[class*="topSectionSpotify"] { background-color: var(--ayu-positive); }


[class*=activityProfile][class*=activity] {
    border-radius: var(--ayu-border-radius);
    margin: 8px 20px 10px 20px;
}

[class*=topSectionPlaying] [class*=activityProfile][class*=activity] {
    background-color: var(--ayu-presence-playing);
}

[class*=topSectionXbox] [class*=activityProfile][class*=activity],
[class*=topSectionSpotify] [class*=activityProfile][class*=activity] {
    background-color: var(--ayu-presence-spotify);
}

[class*=topSectionStreaming] [class*=activityProfile][class*=activity] {
    background-color: var(--ayu-presence-streaming);
}

[class^=topSection],
[class*=headerFill] {
    background-color: var(--background-secondary);
}

div[class*=topSection] [class*=tabBarContainer] {
    border: none;
    padding-bottom: 5px;
}

div[class*=topSection] [class*=tabBar][role=tabbar] {
    justify-content: space-evenly;
    width: 600px;
    height: 40px;
}

div[class*=topSection] [class*=tabBar][role=tabbar] [class*=tabBarItem] {
    margin: 0;
    padding: 0 15px;
    border-bottom: none;
    border-radius: var(--ayu-border-radius);
}

div[class*=topSection] [class*=tabBar][role=tabbar] [class*=tabBarItem][aria-selected=true] {
    background-color: var(--background-secondary-alt);
}

[class*=listScroller] {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-content: flex-start;
}

[class*=listRow][role=button] {
    width: 48%;
    height: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: var(--background-secondary-alt);
    border-radius: var(--ayu-border-radius);
}

[class*=listRow][role=button]:hover {
    background-color: var(--background-modifier-hover);
}

[class*=userInfoSection] {
    border: none !important;
}

[class*=note] textarea {
    background-color: var(--background-tertiary);
    border-radius: var(--ayu-border-radius);
    padding: 10px;
}

[class*=connectedAccounts] {
    margin-top: -40px;
}

[class*=connectedAccounts] [class*=connectedAccount]:not([class*=connectedAccountName]) {
    border: none;
    background-color: var(--background-secondary-alt);
    border-radius: var(--ayu-border-radius);
}

[class*=flowerStar] > path {
    fill: var(--background-accent)!important;
}

[class*=additionalActionsIcon] {
    height: 32px;
    width: 32px;
    background-color: var(--background-accent);
    border-radius: 3px;
    transform: rotate(90deg);
}

/* END SECTION: Large user popouts */

/* SECTION: Friends list */

[class*="peopleColumn"] { 
    background-color: var(--background-primary) !important; 
}

[aria-label="Add Friend"][class*="item"][role="button"] { 
    background-color: var(--ayu-positive) !important; 
}

[class*="itemCard"][class*="interactive"]:hover,
[class*="itemCard"][class*="interactive"] [class*="inset"] section[class*="section"] { 
    background-color: var(--background-tertiary) !important; 
}

[role="dialog"] > [class*="popout"] > [style] { 
    background-color: var(--background-floating) !important; 
}

/* END SECTION: Friends list */

/* SECTION: Modals */

[class*=regionSelectModal],
[class*=overflowRolesPopout]:not([class*=ArrowWrapper]),
[class*=colorPickerCustom],
[class*=streamPreviewWrapper] [class*=streamPreview],
[class*="addGamePopout"],
[class*="keyboardShortcutsModal"],
[class*="uploadModal"],
[class*="uploadModal"] > [class*="inner"],
[role="dialog"] [class*="content"][class*="thin"][class*="scrollerBase"],
[role="dialog"] [class*="header"][class*="horizontal"] {
    background-color: var(--background-floating) !important;
}

[class*="root"][class*="small"],
[class*="modalContents"] {
    background-color: var(--background-floating)
}

[role="dialog"] [class*="footer"] {
    background-color: var(--background-secondary);
}

[role="dialog"] [class*="message"]:not([class^=replied]) {
    background-color: var(--background-primary) !important;
}

[class*="menu"],
[role="dialog"] [class*="reactors"] {
    background-color: var(--background-primary) !important;
    border-color: var(--background-secondary-alt);
}

[role="dialog"] [class*="modal"] [class*="thin"][class*="scroller"] {
    background-color: var(--background-secondary);
}

[class*="root"][class*="small"],
[class*="root"][class*="small"] div {
    box-shadow: none !important;
    color: var(--text-normal);
}

[class*="root"][class*="small"] a {
    color: var(--text-link);
}

[class*=regionSelectModal] > div > [class*=regionSelectModalOption] {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-secondary-alt) !important;
}

/* END SECTION: Modals */

/* SECTION: Server Discovery page */

[class*="pageWrapper"] {
    background-color: var(--background-primary) !important;
}

/* END SECTION: Server Discovery page */

/* SECTION: Emoji and mention suggestions */

[class*="autocompleteInner"] {
    background-color: var(--background-floating) !important;
}
[class*="autocomplete"] [class*="selected"] {
    background-color: var(--background-secondary) !important;
}

/* END SECTION: Suggestions */

/* SECTION: Nitro Boost Page */

[class*="perksModal"] {
    background-color: var(--background-primary) !important;
}
[class*="perksModal"] [class*="tierMarkerContainer"] [class*="tierMarkerBackground"],
[class*="perksModal"] [class^="perks"] > [class^="perk"] {
    background-color: var(--background-floating) !important;
}

[class*="tierBody"] {
    background-color: var(--background-floating) !important;
}
[class*="tierHeaderLocked"] {
    background-color: var(--background-secondary) !important;
}

/* END SECTION: Nitro Boost Page */

/* SECTION: User Thingy on bottom left */

[class*=avatarWrapper] > [class*=avatar][class*=wrapper] {
    padding: 4px;
}

div[class*=sidebar] > section[class*=panels] > [class*=container] > [class*=avatarWrapper] { 
    position: fixed;
    bottom: 16px;
    z-index: 1;
    left: 13px;
}

[class*=animatorTop] > [class*=styleFixed] {
    width: auto;
    left: 50px;
    bottom:-61.5px;
    display: flex;
    flex-direction: row;
}

[class*=customEmojiPlaceholder] {
    background-image: var(--ayu-edit-icon);
}

[class*=statusItem] > div[class*=description],
[class*=statusItem] > div[class*=status],
[class*=menu][class*=styleFixed] > div[class*=scroller] > div[class*=separator] {
    display: none;
}

[class*=clearStatusIcon] {
    margin-left: 0;
}

nav[class*=guilds] ul[class*=tree] {
    height: calc(100% - 160px);
}

[class*=container] > [class*=flex][style="flex: 0 1 auto;"] {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 39px;
    padding: 20px;
    pointer-events: visible;
}

div[class^=customStatus] > span[class*=customText],
div[class^=customStatus] > img[class*=customEmoji],
section[class*=panels] > div[class*=container] > div[class*=nameTag] {
    display: none;
}

section[class*=panels] > div[class*=container] {
    background-color: var(--background-secondary);
    height: 0;
}

[class*=animatorTop] > [class*=styleFixed] > div[class*=scroller] {
    display:flex;
    flex-direction:row;
}

div[class^=customStatus][class*=statusItem] {
    grid-template-columns: none;
}

[class*=animatorTop] > [class*=styleFixed] > div[class*=scroller] > [class*=item] > [class*=statusItem] {
    grid-template-columns: none;
    padding-left: 12px;
    padding-right: 12px;
}

/* END SECTION: User Thingy on bottom left */
