/* SECTION: root var declaration */
.theme-dark {
    /* DISCORD VARS */
    --background-primary: #1f2430;
    --background-secondary: #191e2a;
    --background-secondary-alt: #101521;
    --background-tertiary: #141925;
    --background-accent: #33415e;
    --background-floating: #232834;
    --channeltextarea-background: var(--background-accent);
    --channels-default: #cbccc6;
    --text-muted: #707a8c;
    --text-normal: #cbccc6; 
    --interactive-normal: #cbccc6;
    --interactive-hover: #cbccc6;
    --interactive-active: #fff;
    --interactive-muted: #707a8c;
    --header-primary: white;
    --header-secondary: #c9c9c9;

    /* Theme-specific vars */
    --ayu-hover-animation-speed: 0.35s;
    
    --ayu-hljs-string: #bbe67e;
    --ayu-hljs-kw: #ffae57;
    --ayu-hljs-title: #ffd57f;
    --ayu-hljs-special: #d4bfff;
    --ayu-hljs-attr: #5ccfe6;
    --ayu-hljs-variable: #73d0ff;

    --ayu-menu-red: #f28779;
    --ayu-menu-default: #77a8d9;
}

/* SECTION: De-clutter chat viewport by hiding panels when not hovered */
.theme-dark .chat-3bRxxu {
    margin-left: 10px;
}

.theme-dark .scroller-2TZvBN {
    background-color: var(--background-floating)!important;
}

.theme-dark .sidebar-2K8pFh {
    transition-duration: var(--ayu-hover-animation-speed);
    position:absolute;
    z-index: 100!important;
    height: 100%;
}

.theme-dark .sidebar-2K8pFh:not(:hover) {
    margin-left: -220px;
}

.theme-dark .sidebar-2K8pFh:not(:hover) * {
    color: transparent!important;
}

.theme-dark .sidebar-2K8pFh:not(:hover) .content-3at_AU {
    background-color: transparent!important;
}

.theme-dark .container-2Rl01u {
    background-color: var(--background-primary)!important;
}

.theme-dark .unread-3zKkbm {
    position: absolute;
    height: 32px;
    width: 4px;
    border-radius: 25px;
    top: 4px;
    right: 0%!important;
    left: 98%;
    margin-top: -4px;
}

.theme-dark [class*=membersWrap] {
    transition-duration: var(--ayu-hover-animation-speed);
    right: 0;
    margin-right: -180px;
}

.theme-dark [class*=membersWrap]:hover {
    transform: translateX(-190px);
}

.theme-dark [class*=membersWrap]:not(:hover) [class*=membersGroup] span {
   background-color: var(--channels-default)!important; 
   width: 32px!important;
   color: transparent!important;
   border-radius: 25%;
   height: 2px;
   margin-top: 7px;
   display: inline-block;
}

/* END SECTION: Declutter chat viewport */

/* SECTION: hljs syntax highlighting */

.theme-dark .hljs-doctag,
.theme-dark .hljs-literal,
.theme-dark .hljs-number,
.theme-dark .hljs-meta-string,
.theme-dark .hljs-regexp,
.theme-dark .hljs-string {
    color: var(--ayu-hljs-string)!important;
}

.theme-dark .hljs-meta,
.theme-dark .hljs-subst,
.theme-dark .hljs-keyword {
    color: var(--ayu-hljs-kw)!important;
}

.theme-dark .hljs-selector-class,
.theme-dark .hljs-symbol,
.theme-dark .hljs-title {
    color: var(--ayu-hljs-title)!important;
}

.theme-dark .hljs-built_in {
    color: var(--ayu-hljs-special)!important;
}

.theme-dark .hljs-attribute {
    color: var(--ayu-hljs-attr)!important;
}

.theme-dark .hljs-variable {
    color: var(--ayu-hljs-variable)!important;
}

/* END SECTION: hljs customisation */

/* SECTION: Menu highlighting */

.theme-dark [class*=colorDanger]:not(:hover):not(:active) {
    color: var(--ayu-menu-red)!important;
    background-color: transparent!important;
}

.theme-dark [class*=colorDanger]:hover,
.theme-dark [class*=colorDanger]:hover [class*=colorDefault],
.theme-dark [class*=colorDanger]:active [class*=colorDefault],
.theme-dark [class*=colorDanger]:active { 
    background-color: var(--ayu-menu-red)!important;
    border-color: var(--ayu-menu-red)!important;
}

.theme-dark [class*=colorDefault]:hover,
.theme-dark [class*=colorDefault]:active, 
.theme-dark [class*=colorDefault][class*=focused] {
    background-color: var(--ayu-menu-default);
}

/* END SECTION: Menu highlighting */
