/* SECTION: root var declaration */
.theme-dark {
    --background-primary: #1f2430;
    --background-secondary: #191e2a;
    --background-secondary-alt: #101521;
    --background-tertiary: #141925;
    --background-accent: #33415e;
    --background-floating: #232834;
    --channeltextarea-background: var(--background-accent);
    --channels-default: #cbccc6;
    --text-muted: #707a8c;
    --text-normal: #cbccc6; 
    --interactive-normal: #cbccc6;
    --interactive-hover: #cbccc6;
    --interactive-active: #fff;
    --interactive-muted: #707a8c;
    --header-primary: white;
    --header-secondary: #c9c9c9;
    --hover-animation-speed: 0.35s;
}

/* SECTION: De-clutter chat viewport by hiding panels when not hovered */
.theme-dark .chat-3bRxxu {
    margin-left: 10px;
}

.theme-dark .scroller-2TZvBN {
    background-color: var(--background-floating)!important;
}

.theme-dark .sidebar-2K8pFh {
    transition-duration: var(--hover-animation-speed);
    position:absolute;
    z-index: 100!important;
    height: 100%;
}

.theme-dark .sidebar-2K8pFh:not(:hover) {
    margin-left: -220px;
}

.theme-dark .sidebar-2K8pFh:not(:hover) * {
    color: transparent!important;
}

.theme-dark .sidebar-2K8pFh:not(:hover) .content-3at_AU {
    background-color: transparent!important;
}

.theme-dark .container-2Rl01u {
    background-color: var(--background-primary)!important;
}

.theme-dark .unread-3zKkbm {
    position: absolute;
    height: 32px;
    width: 4px;
    border-radius: 25px;
    top: 4px;
    right: 0%!important;
    left: 98%;
    margin-top: -4px;
}

.theme-dark .membersWrap-2h-GB4 {
    transition-duration: var(--hover-animation-speed);
    right: 0;
    margin-right: -180px;
}

.theme-dark .membersWrap-2h-GB4:hover {
    transform: translateX(-190px);
}

.theme-dark .membersWrap-2h-GB4:not(:hover) .membersGroup-v9BXpm span {
   background-color: var(--channels-default)!important; 
   width: 32px!important;
   color: transparent!important;
   border-radius: 25%;
   height: 2px;
   margin-top: 7px;
   display: inline-block;
}

/* END SECTION: Declutter chat viewport */
