@import url("https://reola01.github.io/ayu-mirage-discord/ayu-base.css");

/* Uncomment any of these lines to enable them */

/* Border Radius-es (Square Icons etc) */
/* @import url(https://reola01.github.io/ayu-mirage-discord/extensions/borders.css); */

/* Lurker Input Bar (Hides the input bar when you aren't hovering it to prevent accidentally triggering typing) */
/* @import url(https://reola01.github.io/ayu-mirage-discord/extensions/lurker-input.css); */

/* Declares variables used within the theme and all */
.theme-light,
.theme-dark {
    /* Discord vars */
    --background-primary: #1f2430;
    --background-secondary: #191e2a;
    --background-secondary-alt: #101521;
    --background-tertiary: #141925;
    --background-accent: #33415e;
    --background-floating: #232834;

    --channeltextarea-background: var(--background-accent);
    --channels-default: #cbccc6;

    --text-muted: #707a8c;
    --text-normal: #cbccc6;
    --text-link: #00b0f4;

    --interactive-normal: #cbccc6;
    --interactive-hover: #cbccc6;
    --interactive-active: #fff;
    --interactive-muted: #707a8c;

    --header-primary: white;
    --header-secondary: #c9c9c9;

    --background-mentioned: #a29bfe1c;
    --background-mentioned-hover: #a29bfe31;

    --background-modifier-hover: #33415e2d;
    --background-modifier-active: #33415e49;
    --background-modifier-selected: #33415e5d;

    /* Ayu theme-specific vars */
    --ayu-positive: #a6cc70;
    --ayu-negative: #f27983;
    --ayu-default: #77a8d9;

    --ayu-transition-duration: 0.25s;

    --ayu-hljs-string: #bbe67e;
    --ayu-hljs-kw: #ffae57;
    --ayu-hljs-title: #ffd57f;
    --ayu-hljs-special: #d4bfff;
    --ayu-hljs-attr: #5ccfe6;
    --ayu-hljs-variable: #73d0ff;

    --ayu-menu-red: var(--ayu-negative);
    --ayu-menu-default: var(--ayu-default);

    --ayu-button-default: var(--ayu-default);
    --ayu-button-positive: var(--ayu-positive);
    --ayu-button-negative: var(--ayu-negative);

    --ayu-presence-playing: var(--ayu-default);
    --ayu-presence-spotify: var(--ayu-positive);
    --ayu-presence-streaming: #a37acc;

    --ayu-status-online: var(--ayu-positive);
    --ayu-status-dnd: var(--ayu-negative);
    --ayu-status-idle: var(--ayu-hljs-title);
    --ayu-status-streaming: var(--ayu-presence-streaming);
    --ayu-status-offline: var(--background-primary);

    --ayu-border-radius: 7.5px;

    --ayu-bot-tag-bg-colour: #5ccfe6;
    --ayu-bot-tag-fg-colour: #101521;
    --ayu-bot-tag-radius: 2.5px;

    --ayu-folder-icon: url(https://i.imgur.com/xobmZ2W.png);
    --ayu-reply-icon: url(https://i.imgur.com/9suWTCB.png);
    --ayu-edit-icon: url(https://i.imgur.com/cCVJmJM.png);

    --ayu-embed-right-radius: 15px;

    --ayu-icon-badge-radius: 4.5px;

    --scrollbar-auto-thumb: var(--background-secondary-alt);
    --scrollbar-auto-track: transparent;

    --scrollbar-thin-thumb: var(--background-secondary-alt);
    --scrollbar-thin-track: transparent;

    --ayu-notification-colour: #a29bfe;
}
