form[class*=form]:not(:hover) [class*=placeholder],
form[class*=form]:not(:hover) button,
form[class*=form]:not(:hover) [class*=contentWrapper],
form[class*=form]:not(:hover) [class*=drawerSizingWrapper],
form[class*=form]:not(:hover) div[class*=slateTextArea][class*=markup][role=textbox] {
    display: none;
}